<twbs-btn>

  <button
    class={
      btn: true,
      btn-default: option === 'default',
      btn-primary: option === 'primary',
      btn-success: option === 'success',
      btn-info: option === 'info',
      btn-warning: option === 'warning',
      btn-danger: option === 'danger',
      btn-link: option === 'link',
      btn-lg: opts.size === 'lg',
      btn-sm: opts.size === 'sm',
      btn-xs: opts.size === 'xs'
    }
    disabled={ disabled }
    onclick={ push }
    ><yield/></button>

  <script>
    updateProperties(e) {
      this.option = opts.option || 'default'
      this.disabled =
        opts.hasOwnProperty('__disabled') ? opts.__disabled :
        opts.hasOwnProperty('disabled') ? opts.disabled === '' || opts.disabled === 'disabled' :
        false
    }
    this.on('update', this.updateProperties)

    push(e) {
      if (opts.href) {
        e.preventUpdate = true
        location.href = opts.href
        return
      }
      if (opts.onpush) {
        e.preventUpdate = true
        opts.onpush(e)
        this.updateCaller(opts.onpush)
      }
    }

    this.mixin('parentScope')
  </script>

</twbs-btn>
